{% extends "product.html" %}

	<!-- Header -->

	<!-- Cart -->

    {% block product %}
        <div style="height:20px;"></div>
        <div class="center-div" style="text-align: center; padding: 50px">
        <h1>Thank you</h1><br>
        <p>Your order has been successfully completed. your order number is <strong>{{order.id}}</strong></p><br>
        <h5>Delivery will be in 24 hours. Please make your mobile phone available to communicate with you.</h5>
        </div>

    {% endblock product %}




	<!-- Footer -->


	<!-- Back to top -->
